<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../assets/1.png" width="30" height="30" class="d-inline-block align-top" alt="">
    SearchBook
  </a>
</nav>

<div class="search">
  <div class="overlay"></div>
  <div class="carousel-inner">

    <div class="container">

      <form [formGroup]="searchForm" (ngSubmit)="search(1)" ngNativeValidate>

        <div class="row">
          <div class="col-12">
            <h1>Search Books</h1>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-2">
                <select id="cars" class="btn btn-secondary dropdown-toggle" formControlName="searchType">
                  <option value="intitle" selected>Title</option>
                  <option value="inauthor">Author</option>
                  <option value="isbn">ISBN</option>
                  <option value="inpublisher">Publisher</option>
                </select>
              </div>
              <div class="col-8">
                <div class="form-group">
                  <input
                    formControlName="text"
                    class="form-control me-2"
                    type="search"
                    id="text"
                    placeholder="Search by Title or Author or ISBN or Publisher"
                    aria-label="Search"
                    required
                  >
                  <div  *ngIf="f.text.touched && f.text.invalid" class="alert alert-danger">
                    <i class="fa fa-exclamation-circle  text-danger" aria-hidden="true"> <strong style="font-size: 17px">!</strong>Search is required</i>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </div>
            </div>
          </div>
        </div>


      </form>
    </div>
  </div>
</div>

<div class="table">
  <div class="container">
    <table class="table table-striped table-dark">
      <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Publisher</th>
        <th scope="col">ISBN</th>
        <th scope="col">Thumbnail</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books | paginate:
  { itemsPerPage: maxResults , currentPage: p, totalItems: totalItems }">
        <th>{{book.volumeInfo.title}}</th>
        <th>{{book.volumeInfo.authors ? book.volumeInfo.authors[0] : ''}}</th>
        <th>{{book.volumeInfo.publisher}}</th>
        <th>
          {{ book.volumeInfo.industryIdentifiers ? book.volumeInfo.industryIdentifiers[0].identifier : ''}}
        </th>
        <th><img src="{{book.volumeInfo.imageLinks?.thumbnail}}"></th>

      </tr>
      </tbody>
    </table>
  </div>
</div>


<pagination-controls (pageChange)="search(p= $event)"></pagination-controls>




